<%= content_for :meta_title, @recipe.name %>

<div class="recipe-banner">
  <div class="container new-recipe">
    <div class="row">
      <div class="col-6">
        <div class="form-recipe">
          <h2>Edit recipe</h2>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
