<div class="whole-card">
  <%= link_to ingredient_path(ingredient) do %>
    <div class="complete-card">
      <%= cl_image_tag ingredient.photo.key %>
      <div class="card-details">
        <h2><%= ingredient.name %></h2>
        <p>18 recipes</p>
      </div>
    </div>
  <% end %>
</div>
