<div class="home-links">
  <div><%= link_to "browse categories", categories_path, class: "home-button button-white" %></div>
  <div class="buffer"></div>
  <div><%= link_to "browse ingredients", ingredients_path, class: "home-button button-white" %></div>
</div>
