.home-button {
  font-size: 22px;
  border-radius: 5px;
  padding: 20px 35px;
}

.button-white {
  background-color: $white-transparent;
  color: $black;
  margin-top: 100px;
  text-decoration: none;
}

.website-button {
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  font-weight: lighter;
  &:hover {
    text-decoration: none;
    color: $black;
  }
}

.button-color {
  background-color: $light-gray;
  color: $black;
  margin-top: 100px;
  text-decoration: none;
}


@media screen and (min-width: 1000px) {
  .home-button {
    font-size: 14px;
    padding: 15px 30px;
    margin: 10px;
  }
  .button-white {
    background-color: $white;
    &:hover {
    color: $black;
    background-color: $white-transparent;
    text-decoration: none;
    }
  }
}

