.button-light {
  background-color: $white;
  color: $dark-gray;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.home-button {
  font-size: 14px;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 10px;
}

.button-white {
  background-color: $white;
  color: $dark-gray;
  &:hover {
  background-color: $white-transparent;
    // color: $white;
  }
}

.raspberry-transparent {
  background-color: $raspberry-transparent;
  color: $white;
}

.yellow-transparent {
  background-color: $yellow-transparent;
  color: $white;
}


