.category-full-card a:hover {
  text-decoration: none;
}

.category-card img {
  height: 200px;
  object-fit: cover;
}

.category-details {
  color: $black;
  background-color: $white;
  padding: 10px;
}

.category-details h2 {
  font-size: 16px;
  margin: 0;
}

.category-details p {
  font-size: 12px;
  opacity: 0.8;
  margin: 0;
}
