.home-nav {
  padding: 15px 20px;
  position: fixed;
  top: 0;
}

.website-nav {
  padding: 15px 20px;
  display: flex;
}

.navigation {
  margin-left: auto;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  // color: $white;
  &:hover {
    text-decoration: none;
    // color: $white;
  }
}

.logo-white {
  color: $white;
  &:hover {
    color: $white;
  }
}

.logo-black {
  color: $black;
  &:hover {
    color: $black;
  }
}

@media screen and (min-width: 1000px) {

}
