.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill);
  grid-gap: 20px;
  background-color: $white;
  padding: 20px;
}

.grid-wrapper img {
  width: 100%;
}

.index-title {
  font-size: 30px;
  font-weight: lighter;
  margin: 40px 0;
  text-align: center;
}
