
.home-links {
  height: 100vh;
  background: url("https://res.cloudinary.com/fannylikescoffee/image/upload/v1586716613/header_xfyrza.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  text-decoration: none;
}

.buffer {
    height: 100px;
  }

@media screen and (min-width: 1000px) {
  .home-links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .buffer {
    height: 0;
  }
}
// Photo by Brooke Lark on Unsplash
