<div class="container">
  <h1>Categories</h1>
  <% @categories.each do |category| %>
  <%= category.name %>
  <%= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill %>
  <%#= cl_image_tag category.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

